p {
    color:navy;
   
}

.m {
    background-color: rgb(233, 252, 252);
    border:5px solid rgb(237, 244, 244);
     
}
.n {
    color:black;
}

.n{
    border:5px solid rgb(244, 240, 237);
    background-color: rgb(244, 234, 219);
    
}
.special {
    color:orange;
}

h1 {
	background :linear-gradient(0.25turn,black,silver);
	color: white;

}

h2 {
    background :linear-gradient(#f4c194 ,rgb(248, 243, 150));
}

h3 {
    background: linear-gradient(rgb(158, 158, 236), rgb(212, 252, 252));
}

.muzui{
    background: linear-gradient(rgb(42, 198, 11), rgb(220, 246, 229)) ;
}

.neko{
    background-color: rgb(237, 249, 235);
    border:5px solid rgb(238, 244, 237);
}