p {
	color: navy;
}

p.info {
	font-size: small;
}

h1 {
	background-color: #dfdfdf;
}

h2 {
	border: solid 200px black;
	margin: 10px;
}

div#zentai {
	display: flex;
	flex-direction: row;
	width: 1024px;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}
