p {
	color: navy;
}

p.info {
	font-size: 10pt;
}

h1 {
	background-color: white;
	text-shadow: navy 1px 0 10px;
	color: white;
}

h2 {
	margin: 5px;
	font-family: cursive;
	color: navy;
	background:linear-gradient(0.25turn,white,#ffefaf);
}

div#zentai {
	display: flex;
	flex-direction: row;
	width: 1024px;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}
